
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-y:scroll;
  overflow-x: hidden;
}

.landing-page {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 60%;
  /* height: 98%; */
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(30px);
  box-shadow: 0 0 40px rgba(0, 0, 0, 1);
  overflow: hidden;
  

}

.icon-close{
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #ccc;
  font-size: 2em;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
border-bottom-left-radius:20px ;
cursor: pointer;
z-index: 1;
}

.icon-close a{
  text-decoration: none;
  color: black;
}

h3{
  font-size: 3rem;
  border: 0px;
  display:block;
  margin:1% auto; 
  font-weight: bolder;
}

.the-form  {
  display: block;
width: 100%;
height: 90%;
overflow-y:visible


}


label {
  display:block;
 font-weight: bold;
 font-size: 20px;
 margin: 10px;
}

input[type="tel"],
input[type="email"],
input[type="password"] {
 width: 80%;
 height: 2em;
 padding: 2px;
 font-size: 1.2em;
 text-align: center;
 border: 1px solid #ccc;
 border-radius: 7px;
}

input[type="number"] ,
input[type="text"] {
  width: 20%;
  height: 2em;
 padding: 2px;
text-align: center;
font-size: 1.2em;
border: 1px solid #ccc;
 border-radius: 7px;

}



.error-message {
  color: red;
  font-size: 0.8em;
  text-align: center;
  margin-top: 7px;
}

.submit-btn {
color: rgb(255, 255, 255);
    text-decoration: none;
    margin:15px 0;
    font-size: 1.8rem;
    border: 3px solid white;
    padding: 10px 20px;
    border-radius: 17px;
    background: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.submit-btn:hover {
    background-color: white;
    color: #333;
    font-size: 1.9em;
}
.login{
  font-size: 1.0rem;
  border: 0px;
  display:block;
  margin:1% auto; 
  font-weight:bold;
  margin: 20px;

}


.login a{
  font-size: 1.0rem;
  border: 2px rgb(255, 255, 255) solid;
  padding: 4px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin: 20px 0;
}

.login a:hover {
  background-color: white;
  color: #333;}
















  p {
    display: none;
  }

  .letter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  
  .valid {
    color: green;
    text-align: center;
    font-size: .8em;
  }
  
  .valid:before {
    content: "✔ ";
    text-align: center;
    font-size: .8em;
  }
  
  .invalid {
    color: red;
    text-align: center;
    font-size: .8em;
  }
    
  .invalid:before {
    content: "✖ ";
    text-align: center;
    font-size: .8em;
  }